# Overview

## Introduction

> API Host

```
<%= config.host %> (production)
https://sb-api.q2open.io/v1 (sandbox)
```

> Resource URL Patterns

```
/auth
/bill
/company
/payment
/client
```

Welcome! The <%= config.apiName %> allows developers to receive user-authorized bill data and make payments on behalf of a user.

Here you will find information on how to integrate with and use the <%= config.apiName %>. We've tried to make this documentation user-friendly and example-filled, but please [drop us a line](mailto:api@unbill.us) with any questions.

The <%= config.apiName %> uses standard HTTP [verbs](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) to communicate and HTTP [response codes](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html) to indicate status and errors. All responses come in standard [JSON](http://www.json.org/). The <%= config.apiName %> is served over HTTPS to ensure data privacy, HTTP is not supported.

![Overview](<%= config.s3 %>/unbill.png)

## Testing

To quickly experiment with the API, you can use Postman. You'll need to set the `apiHost` and `apiKey` environment variables.

<div class="postman">
  <div class="postman-run-button" data-postman-action="collection/import" data-postman-var-1="e238fb8aba0a35436dd3"></div>
</div>
<script type="text/javascript">
  (function (p,o,s,t,m,a,n) {
    !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
    !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
      (n = o.createElement("script")),
      (n.id = s+t), (n.async = 1), (n.src = m), n
    ));
  }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
</script>

### Test Company

You may perform an authentication with a company named *Test Merchant* with `5bd885fccd274b4324a21f57` as it's `_id` that can be used to test various use cases. Each use case is triggered based on the `username` used to authenticate. Any password may be used. Here's a list of usernames and their associated test case:

### Test Credentials

Username | Description
----- | -----------
`test` | Test a successful authentication.
`testfail` | Test an authentication failure.
`testmfaquestion` | Test an authentication requiring question-based MFA.
`testmfacode` | Test an authentication requiring code-based MFA.
`testpaymentfail` | Test a payment failure.
`testswap` | Test performing a post-authentication swap. Useful when using Connect with a `paymentMethodId`.

You may test a successful payment within the Sandbox environment by using `4111111111111111` as the card number, with any valid expiration, zipcode, and random 3-digit CVV.

### Sandbox Limitations

- Always use the Test Merchant during development.
- You cannot make payments on Sandbox.
- When using your real account, there may be cases where it will accept invalid credentials or not retrieve your bill data. If you'd like to do a real test with these providers, you'll need to use our production environment.
- We're working to improve our sandbox environment to be more consistent with what you would experience on production when interacting with billers besides our Test Merchant.

## Gaining Access

To gain access to the <%= config.apiName %>, please [contact us](mailto:api@unbill.us). After our review process is complete, you'll be provided with an API key which you can use for your requests.